body {
 
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
	text-align: left;
	border-radius: 0;
	border: 2px solid black;
	background-color: grey;
}

#name {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 20px;
	font-size: 1.5em;
	font-weight: bold;
	color: black;
}

#header-nav > .container {
	margin-left: 10px;
}

#longdescription {
	margin-top: 20px;
	background-color: grey;
	height: 1500px
}
#menu {
	font-size: 3em;
	font-weight: bold;
}
#menuname {
	font-size: 2em;
	color: black;
	padding-top: 20px;
	margin-bottom: 20px;

}

p {
	padding-left:10px;
}


#nav-list  div {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em


}

/*#nav-list  li:hover {
	background-color: white;
	

}*/


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}

	
}



@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}

	
}


@media (max-width: 767px) {

}